*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(141, 201, 254);
}
.container{
    display: flex;
    flex-direction: column;
    height: 82vh;
    width: 21vw;
    min-width: 300px;
    border: 1px solid grey;
    /* background-color: rgb(238 247 255); */
    background-color: rgb(224, 240, 252);

    border-radius: 15px;
    /* background-color: rgb(238 247 255); */
    box-shadow: 08px 08px 13542px 10px rgb(0, 44, 85) ;
    padding: 10px;
}
.header{
    border: 1px solid rgb(186, 183, 183);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    background-color: rgb(201, 219, 235);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.title{
    margin: 0;
    font-weight: 552;
    text-transform: capitalize;
}
.display{
    display: flex;
    flex-direction: column;
    height: 27%;
    margin: 3px 0;
    padding: 10px;
    border: 1px solid rgb(186, 183, 183);
    background-color: rgb(201, 219, 235);
    margin-left: 5px;
    margin-right: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.display-section-1{
    display: flex;
    justify-content: flex-end;
    border-bottom: 0.3px solid white;
    flex: 1;
}
.display-section-2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 0.3px solid white;
    flex: 1;

}
.display-section-3{
    display: flex;
    font-size: 2.25em;
    justify-content: flex-end;
    align-items: end;
    border-bottom: 0.3px solid white;
    flex: 2;
}
.display-input{
    font-size: 2.25em;
    width: 0.66em ;
    border: none;
    background-color:rgb(201, 219, 235) ;

}
.active{
    color: black;
    background-color:rgb(201, 219, 235) ;
    border-style: none;
    outline: 0;
}
.btn{
    display: flex;
    height: 3.25em;
    justify-content: center;
    align-items: center;
    border-bottom: 0.1px solid rgb(186, 183, 183);
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 5px;
    transition: all;
    transition-duration: 200ms;
    background-color: rgb(246, 250, 253);
    

}
.btn:hover{
    margin-right: 3px;
    margin-left: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    box-shadow: 0 0 5px 0.25px rgb(44, 144, 221);
    border-bottom: 0.1px solid rgb(183, 218, 244);
}


.keypad{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(4,1fr);
}
.btn-top-right-color{
    background-color: rgb(230, 243, 255);
    
}
#btn-result{
    color: white;
    background-color: rgb(67, 110, 190);
}

/* pressed */
.pressed{
    color: rgb(255, 255, 255);
    /* background-color: rgb(232, 232, 248); */
    border-bottom: 1px solid rgb(116, 116, 146);
}
.placeholder{
    color: rgb(109, 105, 105);
}
#btn-AC{
    background-color: rgb(253, 195, 4);
    color: rgb(255, 255, 255);
}
